.footer {
  padding: .75rem 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $footer-background;


  @include screen-breakpoint(md) {
    padding: 1rem 1.5rem;
  }

  &.is-overlayed {
    border-top: 1px solid #eaeaea;
    box-shadow: 0 -2px 6px rgba(0,0,0,.05)
  }
}

.footer-links {
  display: inline-block;

  a {
    display: inline-block;
    margin: 0 .15rem;
    font-weight: 500;
  }
}