.profile {
  width: 100%;
  margin: 0 0 7rem;
  padding: 0 1rem;

  @include screen-breakpoint(sm) {
    padding: 0 1.5rem;
  }

  @include screen-breakpoint(md) {
    margin-bottom: 8rem;
  }
}

.profile-image-wrap {
  position: relative;
  @include size(10rem);
  margin: 7.5% auto 1rem;

  img {
    display: block;
    @include size(100%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s;

    &[data-src] {
      opacity: 0;
    }
  }

  @include screen-breakpoint(sm) {
    margin-top: 7%;
  }

  @include screen-breakpoint(md) {
    margin-top: 6.5%;
    @include size(12rem);
  }

  @include screen-breakpoint(xl) {
    margin-top: 5%;
    @include size(13rem);
  }

  @include screen-breakpoint(xxl) {
    @include size(14rem);
  }
}

.profile-name {
  margin-bottom: .5rem;
  color: $profile-name-color;
  font-size: 2.25rem;

  @include screen-breakpoint(sm) {
    font-size: 2.4rem;
  }

  @include screen-breakpoint(md) {
    font-size: 2.5rem;
  }

  @include screen-breakpoint(xl) {
    font-size: 2.75rem;
  }
}

.profile-headline {
  margin-bottom: 2rem;
  color: $profile-headline-color;
  font-size: 1.25rem;
  font-weight: $default-font-weight;

  @include screen-breakpoint(sm) {
    margin-bottom: 3.2rem;
  }

  @include screen-breakpoint(md) {
    font-size: 1.4rem;
    margin-bottom: 4.5rem;
  }

  @include screen-breakpoint(xl) {
    font-size: 1.5rem;
    margin-bottom: 6rem;
  }

  @include screen-breakpoint(xxl) {
    margin-bottom: 7rem;
  }
}

.profile-description {
  max-width: 60rem;
  margin: 0 auto;
  color: $text-muted;
  font-size: 1.2rem;
  font-weight: 300;

   a {
     font-weight: 500;
   }

  @include screen-breakpoint(sm) {
    font-size: 1.4rem;
  }

  @include screen-breakpoint(md) {
    font-size: 1.6rem;
  }
}
